Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
*.o
*.d
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
LightBulb.sdf
LightBulb.opensdf
LightBulb/Debug/
LightBulb/Release/
Debug/LightBulb
Release/LightBulb
[path to project]/node_modules/
*.VC.opendb
*.tlog
*.psess
*.vsp
*.lastbuildstate
*.idb
*.enc
*.unsuccessfulbuild
*.ipdb
*.iobj
*.bsc
*.db
*.tmp
*.exp
*.tp
/Experiments/TicTacToe/~$log.xlsx
/build/
*.ib_pdb_index
/vs/PredictedInputCache_Release_Mixed Platforms.dat
