[submodule "extlibs/cereal"]
	path = extlibs/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "extlibs/eigen"]
	path = extlibs/eigen
	url = https://github.com/RLovelett/eigen
[submodule "extlibs/freechart"]
	path = extlibs/freechart
	url = https://github.com/domin1101/freechart.git
[submodule "extlibs/googletest"]
	path = extlibs/googletest
	url = https://github.com/google/googletest.git
[submodule "extlibs/viennacl"]
	path = extlibs/viennacl
	url = https://github.com/viennacl/viennacl-dev.git
