Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
*.o
*.d
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
LightBulb.sdf
LightBulb.opensdf
LightBulb/Debug/
LightBulb/Release/
Debug/LightBulb
Release/LightBulb
[path to project]/node_modules/
*.VC.opendb
