[submodule "extlibs/cereal"]
	path = extlibs/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "extlibs/eigen"]
	path = extlibs/eigen
	url = https://github.com/RLovelett/eigen
[submodule "extlibs/freechart"]
	path = extlibs/freechart
	url = https://github.com/domin1101/freechart.git
[submodule "extlibs/googlemock"]
	path = extlibs/googlemock
	url = https://github.com/google/googlemock.git
[submodule "extlibs/googletest"]
	path = extlibs/googletest
	url = https://github.com/google/googletest.git
